

.navbar {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
  margin-bottom: 0px;
}

.title {
  background-color:  rgba(0, 0, 0, .1);
}
.search-bar {
  margin-top: 1%;
	width: 400px;
  margin-bottom: 1%;
}

.nav-link: {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: 2rem;
}

.navbar-brand: {
}

.header-image {
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 1fr;
  justify-items: unsafe center;
  background-image: url('assets/cheerios.jpg');
  background-size: 1600px;
  height: 400px;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.result-wrapper {
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  background-color: #E8E7E7;
}

.result-col {
  display: grid;
  grid-template-rows: 1fr;
}

.result-textbox {
  display: grid;
  text-align: center;
  grid-template-rows: 10% 1fr 1fr;
}

.chart {
  align-self: center;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 14px sans-serif;
  text-anchor: end;
}

.result-graph {
  
}

.axis text {
	fill: black;
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.food-img {
  align-self: center;
  padding-left: 20%;
}

.food-img {
  max-width: 50%
}
