
html, body {
  min-height: 100%;
	height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
}

.container-fluid {
  height: 100%;
  width: 100%;
  padding: 0%;
}

.title h1 {
  padding: 3% 0%;
  text-align: center;
  font-family: 'Monoton', cursive;
  font-size: 300%;
}

.sub-header {
  text-align: center;
  font-family: 'Bungee', cursive;
  padding: 2%;
}

.header-image {
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 1fr;
  justify-items: unsafe center;
  background-image: url('assets/cheerios.jpg');
  background-size: 1600px;
  height: 100%;
  overflow: hidden;
}

.section-header {
}

.section-header:after {
  content: "";
  display: block;
  clear: both;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.result-wrapper {
  font: sans-serif;
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  background-color: #E8E7E7;
}

.result-col {
  display: grid;
  grid-template-rows: 1fr;
}

.result-textbox {
  display: grid;
  text-align: center;
  align-self: center;
  grid-template-rows: 1fr;
}

.sugars-subhead {
  margin: 1%;
}
.chart {
  align-self: center;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 12px sans-serif;
  text-anchor: end;
}

.axis text {
	fill: black;
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.food-img {
  max-height: 100%;
  align-self: center;
	padding-left: 5%;

}

.food-img {
  max-width: 50%
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Bungee', cursive;
  text-align: right;
  align-items: end;
  width: 100%;
  height: 50%; 
}

#footer-links span {
  margin-right: 2%;
  margin-left: 1%;
}

